<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Aplicación</title>
    <!-- Cargar etiquetas estáticas -->
    {% load static %}
    <!-- Relacionar CSS de Bootswatch -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css">
    <!-- Relacionar CSS personalizado -->
    <link rel="stylesheet" href="{% static 'css/descargaS.css' %}">
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h3 class="text-center">Iniciar Sesión</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Nombre de Usuario</label>
                        <input type="text" name="username" id="username" class="form-control" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
